:host {
  div {
    display: block;
  }

  img {
    display: block;
    max-width: 100%;
    height: auto;
    animation-name: fade-in;
    animation-duration: .3s;
  }
}

@keyframes fade-in {
  from {
    opacity: 0
  }
}
